# IntelliJ
.idea/
*.iml

# Compiled Output
build/
target/

# Bower dependencies
# Discussion here: http://addyosmani.com/blog/checking-in-front-end-dependencies/
# Run 'bower init' to pull them down.
src/main/resources/web/bower_components/

# Grunt dependencies
node_modules/
